* {
    font-family: 'Poppins', sans-serif;
}

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

aside {
    text-align: center;
} 

#input, .searched-cities-btn {
    width: 85%;
    margin: 0.5rem;
} 

#submit-btn, .searched-cities-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

#current-container {
    border: 1px solid hsl(0, 0%, 21%);
    border-radius: 5px;
    background-color: transparent;
    margin: 5px;
}

.five-day-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    width: auto;
}

.five-day-text {
    background-color: rgba(170, 253, 253, 0.322);
    border: 1px solid hsl(0, 0%, 21%);
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
}

.fontAwesome {
    font-family: 'poppins', FontAwesome, sans-serif;
    }

@media screen and (max-width: 1270px) {
    .five-day-text {
        display: block;
        width: 100%;  
    }
}