* {
    font-family: 'Poppins', sans-serif;
}

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

aside {
    text-align: center;
} 

#current-weather {
    background-color: hsla(171, 100%, 41%, 0.479);
}

#day1, #day2, #day3, #day4, #day5 {
    background-color: hsla(171, 100%, 41%, 0.253);
}

#searched-cities {
    width: 100%;
} 

.icon {
    font-size: 2rem;
}

.five-day-card {
    background-color: hsla(171, 100%, 41%, 0.253);
    border-radius: 5px;
    width: 19%;
    margin: 1px;
}

#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

h3 {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .five-day-card {
        width: 100%;  
    }
}